# People Retrieval Creation

### The following file is responsible for getting each player's individual stats and to set an average player as well in case we cannot find that player

We will start by importing the necessary libraries

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('classic')
import json

We will get the raw data that I have stored from my previous projects from two csv files.

I have also displayed them here

In [16]:
bowlingStats = pd.read_csv("Resources/playerData/rawdata/bowling.csv")
battingStats = pd.read_csv("Resources/playerData/rawdata/batting.csv")
bowlingStats

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,Shakib Al Hasan,BAN,2006-2023,117,115,422.3,3,2869,140,5/20,20.49,6.79,18.1,5,2
1,TG Southee,NZ,2008-2022,107,105,389.1,3,3179,134,5/18,23.72,8.16,17.4,1,1
2,Rashid Khan,AFG/ICC,2015-2023,82,82,312.2,1,1925,130,5/3,14.80,6.16,14.4,4,2
3,IS Sodhi,NZ,2014-2023,98,95,339.1,0,2701,118,4/28,22.88,7.96,17.2,3,0
4,SL Malinga,SL,2006-2020,84,83,299.5,1,2225,107,5/6,20.79,7.42,16.8,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,Zubaidi Zulkifle,MAL,2019-2023,36,-,-,-,-,-,-,-,-,-,-,-
3488,B Zuiderent,NED,2009-2010,6,-,-,-,-,-,-,-,-,-,-,-
3489,Zulfiqar Ali Shah,PORT,2021-2021,1,-,-,-,-,-,-,-,-,-,-,-
3490,Zulqarnain Haider,PAK,2007-2010,3,-,-,-,-,-,-,-,-,-,-,-
3491,L Zulu,SWA/SWZ,2021-2022,6,-,-,-,-,-,-,-,-,-,-,-

In [17]:
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli,IND,2010-2022,115,107,31,4008,122*,52.73,2905,137.96,1,37,4,356,117
1,RG Sharma,IND,2007-2022,148,140,17,3853,118,31.32,2767,139.24,4,29,10,348,182
2,MJ Guptill,NZ,2009-2022,122,118,7,3531,105,31.81,2602,135.70,2,20,3,309,173
3,Babar Azam,PAK,2016-2023,104,98,14,3485,122,41.48,2714,128.40,3,30,5,371,53
4,PR Stirling,IRE,2009-2023,129,128,11,3397,115*,29.03,2494,136.20,1,23,12,393,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,S Zargar,Mex,2019-2019,1,-,-,-,-,-,-,-,-,-,-,-,-
3488,Zeshan Arif,Aut,2019-2019,3,-,-,-,-,-,-,-,-,-,-,-,-
3489,Ziaur Rahman,AFG,2019-2019,1,-,-,-,-,-,-,-,-,-,-,-,-
3490,Zoheb Malek,MLT,2021-2021,1,-,-,-,-,-,-,-,-,-,-,-,-
3491,Zou Kui,CHN,2023-2023,1,-,-,-,-,-,-,-,-,-,-,-,-

#### We will start by replacing the "-" in each dataframe with np.NaN in order to make sure easy computations

For battingStats, we will also remove the * at the end of each high scores in order to make sure we can convert it to integers.

In [18]:
bowlingStats.replace('-', np.NaN, inplace = True)
battingStats.replace("-", np.NaN, inplace = True)
battingStats['HS'] = battingStats['HS'].str.rstrip("*")

Next we will be setting the index of each of these players accordingly and naming the index as well.

In [20]:
bowlingStats.index.names = ['S. no']
battingStats.index.names = ['S. no']

#### We are going to add the average for battingStats and bowlingStats now.

In [21]:
battingStats.loc[3492, 'Player'] = 'Average'
bowlingStats.loc[3492, 'Player'] = 'Average'

Starting with bowling stats

In [23]:
numeric_cols = ['Mat', 'Inns', 'Overs', 'Mdns', 'Runs', 'Wkts', 'Ave', 'Econ', 'SR', '4', '5']
bowlingStats[numeric_cols] = bowlingStats[numeric_cols].apply(pd.to_numeric, errors='coerce')
column_means = bowlingStats.mean()
bowlingStats.fillna(column_means, inplace = True)
bowlingStats

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
S. no,,,,,,,,,,,,,,,
0,Shakib Al Hasan,BAN,2006-2023,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,5/20,20.490000,6.790000,18.100000,5.000000,2.000000
1,TG Southee,NZ,2008-2022,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,5/18,23.720000,8.160000,17.400000,1.000000,1.000000
2,Rashid Khan,AFG/ICC,2015-2023,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,5/3,14.800000,6.160000,14.400000,4.000000,2.000000
3,IS Sodhi,NZ,2014-2023,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,4/28,22.880000,7.960000,17.200000,3.000000,0.000000
4,SL Malinga,SL,2006-2020,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,5/6,20.790000,7.420000,16.800000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,B Zuiderent,NED,2009-2010,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3489,Zulfiqar Ali Shah,PORT,2021-2021,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3490,Zulqarnain Haider,PAK,2007-2010,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3491,L Zulu,SWA/SWZ,2021-2022,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3492,Average,NaN,NaN,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431

Doing the same for the batting stats

In [24]:
numeric_cols = ['Mat', "Inns", "NO", "Runs", "HS", "Ave", "BF", "SR", "100", "50", "0", "4s", "6s"]
battingStats[numeric_cols] = battingStats[numeric_cols].apply(pd.to_numeric, errors='coerce')
mean_col = battingStats.mean()
battingStats = battingStats.fillna(mean_col)
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
S. no,,,,,,,,,,,,,,,,
0,V Kohli,IND,2010-2022,115.000000,107.000000,31.000000,4008.0,122.000000,52.73000,2905.000000,137.960000,1.000000,37.000000,4.000000,356.000000,117.000000
1,RG Sharma,IND,2007-2022,148.000000,140.000000,17.000000,3853.0,118.000000,31.32000,2767.000000,139.240000,4.000000,29.000000,10.000000,348.000000,182.000000
2,MJ Guptill,NZ,2009-2022,122.000000,118.000000,7.000000,3531.0,105.000000,31.81000,2602.000000,135.700000,2.000000,20.000000,3.000000,309.000000,173.000000
3,Babar Azam,PAK,2016-2023,104.000000,98.000000,14.000000,3485.0,122.000000,41.48000,2714.000000,128.400000,3.000000,30.000000,5.000000,371.000000,53.000000
4,PR Stirling,IRE,2009-2023,129.000000,128.000000,11.000000,3397.0,115.000000,29.03000,2494.000000,136.200000,1.000000,23.000000,12.000000,393.000000,123.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,Zeshan Arif,Aut,2019-2019,3.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3489,Ziaur Rahman,AFG,2019-2019,1.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3490,Zoheb Malek,MLT,2021-2021,1.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3491,Zou Kui,CHN,2023-2023,1.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3492,Average,NaN,NaN,13.805842,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204

## We are finally all done and it's time to store it! To access it later, use the following commands:

```py
    bowlingStats = pd.read_pickle(r"Resources/playerData/bowling.pkl")
    battingStats = pd.read_pickle(r"Resources/playerData/batting.pkl")
```

In [25]:
bowlingStats.to_pickle(r"Resources/playerData/bowling.pkl")
battingStats.to_pickle(r"Resources/playerData/batting.pkl")

In [26]:
bowlingStats

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
S. no,,,,,,,,,,,,,,,
0,Shakib Al Hasan,BAN,2006-2023,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,5/20,20.490000,6.790000,18.100000,5.000000,2.000000
1,TG Southee,NZ,2008-2022,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,5/18,23.720000,8.160000,17.400000,1.000000,1.000000
2,Rashid Khan,AFG/ICC,2015-2023,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,5/3,14.800000,6.160000,14.400000,4.000000,2.000000
3,IS Sodhi,NZ,2014-2023,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,4/28,22.880000,7.960000,17.200000,3.000000,0.000000
4,SL Malinga,SL,2006-2020,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,5/6,20.790000,7.420000,16.800000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,B Zuiderent,NED,2009-2010,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3489,Zulfiqar Ali Shah,PORT,2021-2021,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3490,Zulqarnain Haider,PAK,2007-2010,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3491,L Zulu,SWA/SWZ,2021-2022,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3492,Average,NaN,NaN,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431

In [27]:
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
S. no,,,,,,,,,,,,,,,,
0,V Kohli,IND,2010-2022,115.000000,107.000000,31.000000,4008.0,122.000000,52.73000,2905.000000,137.960000,1.000000,37.000000,4.000000,356.000000,117.000000
1,RG Sharma,IND,2007-2022,148.000000,140.000000,17.000000,3853.0,118.000000,31.32000,2767.000000,139.240000,4.000000,29.000000,10.000000,348.000000,182.000000
2,MJ Guptill,NZ,2009-2022,122.000000,118.000000,7.000000,3531.0,105.000000,31.81000,2602.000000,135.700000,2.000000,20.000000,3.000000,309.000000,173.000000
3,Babar Azam,PAK,2016-2023,104.000000,98.000000,14.000000,3485.0,122.000000,41.48000,2714.000000,128.400000,3.000000,30.000000,5.000000,371.000000,53.000000
4,PR Stirling,IRE,2009-2023,129.000000,128.000000,11.000000,3397.0,115.000000,29.03000,2494.000000,136.200000,1.000000,23.000000,12.000000,393.000000,123.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,Zeshan Arif,Aut,2019-2019,3.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3489,Ziaur Rahman,AFG,2019-2019,1.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3490,Zoheb Malek,MLT,2021-2021,1.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3491,Zou Kui,CHN,2023-2023,1.000000,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3492,Average,NaN,NaN,13.805842,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204

 ### The code below is old code and only for reference, <font color = 'red'>  DO NOT RUN IT! </font>

In [14]:
bowlingStats[numeric_cols] = bowlingStats[numeric_cols].apply(pd.to_numeric, errors='coerce')
bowlingStats

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
S. no,,,,,,,,,,,,,,,
0,Shakib Al Hasan,BAN,2006-2023,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,NaN,20.490000,6.790000,18.100000,5.000000,2.000000
1,TG Southee,NZ,2008-2022,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,NaN,23.720000,8.160000,17.400000,1.000000,1.000000
2,Rashid Khan,AFG/ICC,2015-2023,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,NaN,14.800000,6.160000,14.400000,4.000000,2.000000
3,IS Sodhi,NZ,2014-2023,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,NaN,22.880000,7.960000,17.200000,3.000000,0.000000
4,SL Malinga,SL,2006-2020,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,NaN,20.790000,7.420000,16.800000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,B Zuiderent,NED,2009-2010,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3489,Zulfiqar Ali Shah,PORT,2021-2021,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3490,Zulqarnain Haider,PAK,2007-2010,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3491,L Zulu,SWA/SWZ,2021-2022,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3492,Average,NaN,NaN,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
S. no,,,,,,,,,,,,,,,
0,Shakib Al Hasan,BAN,2006-2023,117.0,115.0,422.3,3.0,2869.0,140.0,NaN,20.49,6.79,18.1,5.0,2.0
1,TG Southee,NZ,2008-2022,107.0,105.0,389.1,3.0,3179.0,134.0,NaN,23.72,8.16,17.4,1.0,1.0
2,Rashid Khan,AFG/ICC,2015-2023,82.0,82.0,312.2,1.0,1925.0,130.0,NaN,14.80,6.16,14.4,4.0,2.0
3,IS Sodhi,NZ,2014-2023,98.0,95.0,339.1,0.0,2701.0,118.0,NaN,22.88,7.96,17.2,3.0,0.0
4,SL Malinga,SL,2006-2020,84.0,83.0,299.5,1.0,2225.0,107.0,NaN,20.79,7.42,16.8,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,B Zuiderent,NED,2009-2010,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3489,Zulfiqar Ali Shah,PORT,2021-2021,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3490,Zulqarnain Haider,PAK,2007-2010,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3491,L Zulu,SWA/SWZ,2021-2022,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3492,Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
column_means = bowlingStats.mean()
column_means

Mat       13.805842
Inns      10.710079
Overs     32.795811
Mdns       0.453754
Runs     241.972625
Wkts      10.520946
BBI             NaN
Ave       28.038534
Econ       8.036798
SR        21.845601
4          0.200332
5          0.051431
dtype: float64

In [84]:
bowlingStats.fillna(column_means, inplace = True)
bowlingStats

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
S. no,,,,,,,,,,,,,,,
0,Shakib Al Hasan,BAN,2006-2023,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,NaN,20.490000,6.790000,18.100000,5.000000,2.000000
1,TG Southee,NZ,2008-2022,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,NaN,23.720000,8.160000,17.400000,1.000000,1.000000
2,Rashid Khan,AFG/ICC,2015-2023,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,NaN,14.800000,6.160000,14.400000,4.000000,2.000000
3,IS Sodhi,NZ,2014-2023,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,NaN,22.880000,7.960000,17.200000,3.000000,0.000000
4,SL Malinga,SL,2006-2020,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,NaN,20.790000,7.420000,16.800000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,B Zuiderent,NED,2009-2010,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3489,Zulfiqar Ali Shah,PORT,2021-2021,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3490,Zulqarnain Haider,PAK,2007-2010,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3491,L Zulu,SWA/SWZ,2021-2022,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3492,Average,NaN,NaN,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431

In [86]:
bowlingStats.to_csv("playerData/bowling.csv")

In [87]:
pd.read_csv("playerData/bowling.csv")

,S. no,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,0,Shakib Al Hasan,BAN,2006-2023,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,NaN,20.490000,6.790000,18.100000,5.000000,2.000000
1,1,TG Southee,NZ,2008-2022,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,NaN,23.720000,8.160000,17.400000,1.000000,1.000000
2,2,Rashid Khan,AFG/ICC,2015-2023,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,NaN,14.800000,6.160000,14.400000,4.000000,2.000000
3,3,IS Sodhi,NZ,2014-2023,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,NaN,22.880000,7.960000,17.200000,3.000000,0.000000
4,4,SL Malinga,SL,2006-2020,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,NaN,20.790000,7.420000,16.800000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,3488,B Zuiderent,NED,2009-2010,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3489,3489,Zulfiqar Ali Shah,PORT,2021-2021,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3490,3490,Zulqarnain Haider,PAK,2007-2010,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3491,3491,L Zulu,SWA/SWZ,2021-2022,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3492,3492,Average,NaN,NaN,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431

In [98]:
battingStats = pd.read_csv("playerData/batting.csv")
battingStats['HS'] = battingStats['HS'].str.rstrip("*")
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli,IND,2010-2022,115,107,31,4008,122,52.73,2905,137.96,1,37,4,356,117
1,RG Sharma,IND,2007-2022,148,140,17,3853,118,31.32,2767,139.24,4,29,10,348,182
2,MJ Guptill,NZ,2009-2022,122,118,7,3531,105,31.81,2602,135.70,2,20,3,309,173
3,Babar Azam,PAK,2016-2023,104,98,14,3485,122,41.48,2714,128.40,3,30,5,371,53
4,PR Stirling,IRE,2009-2023,129,128,11,3397,115,29.03,2494,136.20,1,23,12,393,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,S Zargar,Mex,2019-2019,1,-,-,-,-,-,-,-,-,-,-,-,-
3488,Zeshan Arif,Aut,2019-2019,3,-,-,-,-,-,-,-,-,-,-,-,-
3489,Ziaur Rahman,AFG,2019-2019,1,-,-,-,-,-,-,-,-,-,-,-,-
3490,Zoheb Malek,MLT,2021-2021,1,-,-,-,-,-,-,-,-,-,-,-,-
3491,Zou Kui,CHN,2023-2023,1,-,-,-,-,-,-,-,-,-,-,-,-

In [99]:
numeric_cols = ['Mat', "Inns", "NO", "Runs", "HS", "Ave", "BF", "SR", "100", "50", "0", "4s", "6s"]
battingStats[numeric_cols]

      Mat Inns  NO  Runs   HS    Ave    BF      SR 100  50   0   4s   6s
0     115  107  31  4008  122  52.73  2905  137.96   1  37   4  356  117
1     148  140  17  3853  118  31.32  2767  139.24   4  29  10  348  182
2     122  118   7  3531  105  31.81  2602  135.70   2  20   3  309  173
3     104   98  14  3485  122  41.48  2714  128.40   3  30   5  371   53
4     129  128  11  3397  115  29.03  2494  136.20   1  23  12  393  123
...   ...  ...  ..   ...  ...    ...   ...     ...  ..  ..  ..  ...  ...
3487    1    -   -     -    -      -     -       -   -   -   -    -    -
3488    3    -   -     -    -      -     -       -   -   -   -    -    -
3489    1    -   -     -    -      -     -       -   -   -   -    -    -
3490    1    -   -     -    -      -     -       -   -   -   -    -    -
3491    1    -   -     -    -      -     -       -   -   -   -    -    -

[3492 rows x 13 columns]

In [100]:
battingStats[numeric_cols] = battingStats[numeric_cols].apply(pd.to_numeric, errors='coerce')
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli,IND,2010-2022,115,107.0,31.0,4008.0,122.0,52.73,2905.0,137.96,1.0,37.0,4.0,356.0,117.0
1,RG Sharma,IND,2007-2022,148,140.0,17.0,3853.0,118.0,31.32,2767.0,139.24,4.0,29.0,10.0,348.0,182.0
2,MJ Guptill,NZ,2009-2022,122,118.0,7.0,3531.0,105.0,31.81,2602.0,135.70,2.0,20.0,3.0,309.0,173.0
3,Babar Azam,PAK,2016-2023,104,98.0,14.0,3485.0,122.0,41.48,2714.0,128.40,3.0,30.0,5.0,371.0,53.0
4,PR Stirling,IRE,2009-2023,129,128.0,11.0,3397.0,115.0,29.03,2494.0,136.20,1.0,23.0,12.0,393.0,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,S Zargar,Mex,2019-2019,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3488,Zeshan Arif,Aut,2019-2019,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3489,Ziaur Rahman,AFG,2019-2019,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3490,Zoheb Malek,MLT,2021-2021,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3491,Zou Kui,CHN,2023-2023,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
battingStats.index.names = ["S. no"]
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
S. no,,,,,,,,,,,,,,,,
0,V Kohli,IND,2010-2022,115,107.0,31.0,4008.0,122.0,52.73,2905.0,137.96,1.0,37.0,4.0,356.0,117.0
1,RG Sharma,IND,2007-2022,148,140.0,17.0,3853.0,118.0,31.32,2767.0,139.24,4.0,29.0,10.0,348.0,182.0
2,MJ Guptill,NZ,2009-2022,122,118.0,7.0,3531.0,105.0,31.81,2602.0,135.70,2.0,20.0,3.0,309.0,173.0
3,Babar Azam,PAK,2016-2023,104,98.0,14.0,3485.0,122.0,41.48,2714.0,128.40,3.0,30.0,5.0,371.0,53.0
4,PR Stirling,IRE,2009-2023,129,128.0,11.0,3397.0,115.0,29.03,2494.0,136.20,1.0,23.0,12.0,393.0,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,S Zargar,Mex,2019-2019,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3488,Zeshan Arif,Aut,2019-2019,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3489,Ziaur Rahman,AFG,2019-2019,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3490,Zoheb Malek,MLT,2021-2021,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3491,Zou Kui,CHN,2023-2023,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
battingStats.loc[725, "Player"] = "Average"
mean_col = battingStats.mean()
battingStats = battingStats.fillna(mean_col)
battingStats

,Player,Country,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
S. no,,,,,,,,,,,,,,,,
0,V Kohli,IND,2010-2022,115,107.000000,31.000000,4008.0,122.000000,52.73000,2905.000000,137.960000,1.000000,37.000000,4.000000,356.000000,117.000000
1,RG Sharma,IND,2007-2022,148,140.000000,17.000000,3853.0,118.000000,31.32000,2767.000000,139.240000,4.000000,29.000000,10.000000,348.000000,182.000000
2,MJ Guptill,NZ,2009-2022,122,118.000000,7.000000,3531.0,105.000000,31.81000,2602.000000,135.700000,2.000000,20.000000,3.000000,309.000000,173.000000
3,Babar Azam,PAK,2016-2023,104,98.000000,14.000000,3485.0,122.000000,41.48000,2714.000000,128.400000,3.000000,30.000000,5.000000,371.000000,53.000000
4,PR Stirling,IRE,2009-2023,129,128.000000,11.000000,3397.0,115.000000,29.03000,2494.000000,136.200000,1.000000,23.000000,12.000000,393.000000,123.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,S Zargar,Mex,2019-2019,1,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3488,Zeshan Arif,Aut,2019-2019,3,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3489,Ziaur Rahman,AFG,2019-2019,1,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3490,Zoheb Malek,MLT,2021-2021,1,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204
3491,Zou Kui,CHN,2023-2023,1,10.844547,2.311214,171.6,29.488479,14.43226,146.743779,93.717002,0.037788,0.693395,1.082028,14.554839,6.017204

In [104]:
bowlingStats

,Player,Country,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
S. no,,,,,,,,,,,,,,,
0,Shakib Al Hasan,BAN,2006-2023,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,NaN,20.490000,6.790000,18.100000,5.000000,2.000000
1,TG Southee,NZ,2008-2022,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,NaN,23.720000,8.160000,17.400000,1.000000,1.000000
2,Rashid Khan,AFG/ICC,2015-2023,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,NaN,14.800000,6.160000,14.400000,4.000000,2.000000
3,IS Sodhi,NZ,2014-2023,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,NaN,22.880000,7.960000,17.200000,3.000000,0.000000
4,SL Malinga,SL,2006-2020,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,NaN,20.790000,7.420000,16.800000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,B Zuiderent,NED,2009-2010,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3489,Zulfiqar Ali Shah,PORT,2021-2021,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3490,Zulqarnain Haider,PAK,2007-2010,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3491,L Zulu,SWA/SWZ,2021-2022,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431
3492,Average,NaN,NaN,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,NaN,28.038534,8.036798,21.845601,0.200332,0.051431

In [105]:
battingStats.to_csv("playerData/batting.csv")
bowlingStats.to_csv("playerData/bowling.csv")